input, button {
    outline: none;
    border: none;
}

.form-inner .form-group label {
    color: rgb(255, 255, 255);
    transition: 0.4s;
    text-align: left;
}

.form-inner .form-group:focus-within label {
    color: #8dcdf8
}

form .form-inner .form-group input {
    width: calc(100% - 30px);
    padding: 10px 15px;
    background-color: #F8F8F8;
    border-radius: 8px;
    transition: 0.4;
}

form .form-inner .form-group input:focus {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

form .form-inner input[type="submit"] {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    background-image: linear-gradient(to right, rgba(27, 223, 76, 0.5), #51b6a0 50%, #0edada);
    background-size: 200px;
    background-position: 0%;
    transition: 0.4s;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

form .form-inner input[type="submit"]:hover {
    background-position: 100% 0%;
}